body {   background-image: url("myBackground.JPG");
         background-repeat: no-repeat;
         background-color: rgb(4, 51, 128);
         background-position: center;
         background-size: cover;
   }
h1 {
         color: rgb(255,255,255);
         text-align: center;
   }
h2 {
         color: rgb(255,255,255);
         text-align: center;
   }
p  {
         color: rgb(255,255,255);
         text-align: center;
}
script   {
         margin: auto;
         align: center;
}
#dancingheader {
         color: rgb(255, 255, 255);
         text-align: center;
         width: 400px;
      }
#dancingparagraph {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
      }
#followHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#eduAppHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#memoryHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#froggerHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#quizHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#formattedIntHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#bitmojiLineHeader {color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#dryBitmojiHeader {color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#objectHeader {
         color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
#racingheader {
         color: rgb(255, 255, 255);
         text-align: center;
         width: 400px;
      }
#racingparagraph {color: rgb(255,255,255);
         text-align: center;
         width: 400px;
      }
#banner {display: block;
         margin-left: auto;
         margin-right: auto;
      }
.nav-table {width: 1000px;
         margin: auto;
         text-align: center;
      }
#nav-td {width: 200px;
         text-align: center;
      }
.js-table {
         width: 800px;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
      }
#js-td {
         width: 400px;
         text-align: center;
}
#js-td2 {
         text-color: rgb(255,255,255);
         text-align: center;
         width: 400px;
}
